<div fxLayout="row">
  <div fxFlex="25%">
    <ul>
      <li *ngFor="let q of listOfQuotes | async" (click)='selectQuote(q.QuoteId)'>
       {{q.DateReceived.seconds * 1000 | date:'d MMM yyyy'}}
      </li>
    </ul>
    <p>Add Quote</p>
    <mat-form-field>
      <input matInput #dateReceived [matDatepicker]="picker" placeholder="Date Received">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
   <button mat-raised-button (click)='createNewQuote(dateReceived.value)'>Add New Quote</button>
  </div>
  <div fxFlex>
    <app-quotedetail #QuotedetailComponent></app-quotedetail>
  </div>

</div>